[submodule "bundle/autoclosetag"]
	path = bundle/autoclosetag
	url = http://github.com/vim-scripts/HTML-AutoCloseTag.git
[submodule "bundle/colorsamplerpack"]
	path = bundle/colorsamplerpack
	url = http://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = http://github.com/vim-scripts/Command-T.git
[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = http://github.com/vim-scripts/delimitMate.vim.git
[submodule "bundle/easytags"]
	path = bundle/easytags
	url = http://github.com/vim-scripts/easytags.vim.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/vim-scripts/fugitive.vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = http://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/nerd-commenter"]
	path = bundle/nerd-commenter
	url = http://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "bundle/piv"]
	path = bundle/piv
	url = http://github.com/vim-scripts/PIV.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/weierophinney/snipmate.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = http://github.com/ervandew/supertab.git
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = http://github.com/tpope/vim-markdown.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = http://github.com/vim-scripts/ZenCoding.vim.git
[submodule "bundle/nerd-tree"]
	path = bundle/nerd-tree
	url = http://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/gtags"]
	path = bundle/gtags
	url = https://github.com/vim-scripts/gtags.vim.git
[submodule "bundle/html5"]
	path = bundle/html5
	url = https://github.com/othree/html5.vim.git
[submodule "bundle/phpcomplete/autoload"]
	path = bundle/phpcomplete/autoload
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/vcscommand"]
	path = bundle/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "bundle/proj-vim"]
	path = bundle/proj-vim
	url = https://github.com/tmallen/proj-vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
